{% extends 'layout_form.html' %}

<!-- title -->
{% block title %}编辑用户{% endblock %}
{% block header %}
<script src="/static/js/sha1.min.js" ></script>
{% endblock %}
<!-- form -->
{% block form %}
    <h2>编辑用户</h2>
<form class="layui-form layui-form-pane" id="form">
    <div class="layui-form-item">
        <label class="layui-form-label">角色</label>
        <div class="layui-input-3">
              <select v-model="info.role"  name="role" lay-verify="required">
                <option value=""></option>
                <option value="0">管理员</option>
                <option value="1">运营侧</option>
                <option value="2">财务侧</option>
              </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-4">
            <input class="layui-input"  name="name" v-model="info.name" lay-verify="required" placeholder="请输入姓名"  type="text">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-4">
            <input class="layui-input"  name="email" v-model="info.email" lay-verify="required" placeholder="请输入邮箱"  type="text">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">电话</label>
        <div class="layui-input-4">
            <input class="layui-input"  name="phone" v-model="info.phone" lay-verify="required" placeholder="请输入电话"  type="text">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-4">
            <input type="password"  class="layui-input"  name="passwd" v-model="info.passwd" lay-verify="required" placeholder="请输入密码"  type="text">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
{#            <input type="hidden" name="id" v-model="info.id">#}
            <button class="layui-btn" lay-submit="" lay-filter="submitForm">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
    <div style="display: none"><p>{{ info.id }}</p></div>
</form>
{% endblock %}

{% block footer %}
<script type="text/javascript">


</script>
{% endblock %}