{% extends 'layout_form.html' %}

<!-- title -->
{% block title %}新增客户{% endblock %}

<!-- form -->
{% block form %}
<form class="layui-form layui-form-pane" id="form">
    <div class="layui-form-item">
        <label class="layui-form-label">客户名称</label>
        <div class="layui-input-4">
            <input class="layui-input" name="name" v-model="info.name" lay-verify="required" placeholder="请输入客户名称" type="text">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">合同有效期</label>
        <div class="layui-input-4">
            <input class="layui-input date" name="indate" v-model="info.indate" lay-verify="date" placeholder="请输入合同有效期"  type="text">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">开票信息</label>
        <div class="layui-input-6">
            <textarea placeholder="请输入内容摘要" name="invoice" v-model="info.invoice" class="layui-textarea" lay-verify="required"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="id" v-model="info.id">
            <button class="layui-btn" lay-submit="" lay-filter="submitForm">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
{% endblock %}
