{% extends 'layout_table.html' %}

<!-- title -->
{% block title %} 客户管理 {% endblock %}

<!-- menu start -->
{% block menubox %}

<div class="layui-inline">
    <form class="layui-form" id="searchForm" style="padding:0px;">
        <div class="layui-input-inline">
            <input name="keyword" placeholder="请输入客户名称" class="layui-input search_input" type="text" v-model="params.keyword">
        </div>
        <div class="layui-input-inline">
            <select class="layui-input" name="status">
                <option value="">全部状态</option>
                <option value="">全部状态</option>
                <option value="1">有效</option>
                <option value="0">过期</option>
            </select>
        </div>
        <a class="layui-btn search_btn" lay-submit lay-filter="searchForm" >查询</a>
        <a class="layui-btn search_btn" id="selectAll">查询全部</a>
    </form>
</div>
<div class="layui-inline">
    <a class="layui-btn layui-btn-normal add-btn" data-url="/client/form" data-title="新增客户">新增</a>
</div>
{% endblock %}


<!-- table start -->
{% block table %}
<table class="layui-table">
    <thead>
        <tr>
            <th style="text-align:left;">客户名称</th>
            <th style="min-width:210px;">合同有效期</th>
            <th style="min-width:91px;">投放数/金额</th>
            <th style="min-width:91px;">回款数/金额</th>
            <th style="text-align:left;min-width: 350px;">开票信息</th>
            <th style="width: 170px;">操作</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="item in list">
            <td align="center">{{ item.name }}</td>
            <td :class="{redGrid: !item.indate_status}">
                {{ item.indate_start }} - {{ item.indate_end }}
            </td>
            <td>{{ item.tfCount }}/{{ item.tfMoney }}</td>
            <td>{{ item.hkCount }}/{{ item.hkMoney || 0}}</td>
            <td v-html="item.invoice"></td>
            <td >
                <a class="layui-btn layui-btn-mini edit-btn" v-bind:data-url="'/client/form?id=' + item.id" data-title="编辑客户"><i class="iconfont icon-edit layui-icon"></i> 编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-mini del-btn" v-bind:data-url="'/apis/client/del?id=' + item.id "><i class="layui-icon"></i> 删除</a>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
