{% extends 'layout_table.html' %}

<!-- title -->
{% block title %} 客户管理 {% endblock %}

<!-- menu start -->
{% block menubox %}

<div class="layui-inline">
    <div class="layui-input-inline">
        <input value="" placeholder="请输入关键字" class="layui-input search_input" type="text">
    </div>
    <a class="layui-btn search_btn">查询</a>
</div>
<div class="layui-inline">
    <a class="layui-btn layui-btn-normal add-btn" data-url="/client_form" data-title="新增客户">新增</a>
</div>
{% endblock %}


<!-- table start -->
{% block table %}
<table class="layui-table" id="app">
    <colgroup>
        <col>
        <col width="11%">
        <col width="9%">
        <col width="9%">
        <col width="30%">
        <col width="15%">
    </colgroup>
    <thead>
        <tr>
            <th style="text-align:left;">客户名称</th>
            <th>合同有效期</th>
            <th>投放数</th>
            <th>回款数</th>
            <th>开票信息</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="item in list">
            <td align="left">{{ item.name }}</td>
            <td>{{ item.indate }}</td>
            <td>{{ item.id }}</td>
            <td>20</td>
            <td>{{ item.invoice }}</td>
            <td>
                <a class="layui-btn layui-btn-mini edit-btn" v-bind:data-url="'/client_form?id=' + item.id" data-title="编辑客户"><i class="iconfont icon-edit"></i> 编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-mini del-btn" v-bind:data-url="'/client_del?id' + item.id "><i class="layui-icon"></i> 删除</a>
            </td>
        </tr>
    </tbody>
</table>
<div class="larry-table-page clearfix">
    <div id="page" class="page"></div>
</div>
{% endblock %}


<!-- footer -->
{% block footer %}

<script type="text/javascript">
    layui.config({
        base: '/static/js/'
    }).use(['form', 'layer', 'jquery', 'laypage'], function() {
        var form = layui.form(),
            layer = parent.layer === undefined ? layui.layer : parent.layer,
            laypage = layui.laypage,
            $ = layui.jquery;

        var app = new Vue({
            el: '#app',
            data: {
                list: []
            },
            methods: {
                getLists: function(page) {
                    var self = this;
                    $.get('/apis/client/index?page=' + page, function(data) {
                        self.list = data.list;

                        laypage({
                            cont: 'page',
                            pages: data.p[0], //总页数
                            curr: data.p[1],
                            groups: 5, //连续显示分页数
                            jump: function(obj, first) {
                                //得到了当前页，用于向服务端请求对应数据
                                var currPage = obj.curr;
                                if (!first) {

                                    self.getLists(currPage);
                                }
                            }
                        });
                    });
                }
            },
            mounted: function() {

                this.getLists(1);
            }
        });
    });
</script>
{% endblock %}