{% extends 'layout_table.html' %}

<!-- title -->
{% block title %} 收入报表 {% endblock %}

<!-- menu start -->
{% block menubox %}

<div class="layui-inline">
    <form class="layui-form" id="searchForm" style="padding:0px;">
        <div class="layui-input-inline" style="width: 150px;">
            <input name="keyword" placeholder="可搜索收入id,公司名称" class="layui-input search_input" type="text" v-model="params.keyword">
        </div>
        <div class="layui-input-inline" style="width: 150px;">
            <input type="text" v-model="params.rangeDate" name="rangeDate" class="layui-input search_input rangeDate" data-type="month"
                placeholder="选择日期">
        </div>
        <div class="layui-input-inline">
            <select name="moneyStatus">
                <option value="">回款状态</option>
                <option v-for="status,index in other.moneyStatusMap" :value="index">{{status}}</option>
            </select>
        </div>
        <div class="layui-input-inline">
            <select name="invStatus">
                <option value="">开票状态</option>
                <option v-for="status,index in other.invStatusMap" :value="index">{{status}}</option>
            </select>
        </div>
        <div class="layui-input-inline">
            <select name="mediaType">
                <option value="">媒体类型</option>
                <option v-for="type,index in other.mediaTypeMap" :value="index">{{type}}</option>
            </select>
        </div>
        <a class="layui-btn search_btn" lay-submit lay-filter="searchForm" >查询</a>
        <a class="layui-btn search_btn" id="selectAll" >查询全部</a>
        <a class="layui-btn" id="exportExcel">导出报表</a>
        <input type="hidden" name="isExport" v-model="isExport">
    </form>
</div>
<div class="layui-inline">
    <a class="layui-btn layui-btn-normal add-btn" data-url="/income/form" data-title="新增收入单">新增</a>
</div>
{% endblock %}


<!-- table start -->
{% block table %}
<table class="layui-table">
    <thead>
        <tr>
            <th style="text-align:left;">收入ID</th>
            <th>公司名称</th>
            <th>业务名称</th>
            <th>归属时间</th>
            <th>收入金额</th>
            <th>收款公司</th>
            <th>回款状态</th>
            <th>开票状态</th>
            <th>媒体类型</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="item in list">
            <td align="left">{{ item.income_id }}</td>
            <td>{{ item.company_name }}</td>
            <td>{{ item.business_type }}-{{ item.name }}</td>
            <td>{{ item.aff_date }}</td>
            <td>{{ item.money }}</td>
            <td>{{ item.income_company }}</td>
            <td>
                {{ item.money_status_text }}
                <template v-if="item.money_status">
                    <br/> {{ item.return_money_date }}
                </template>
            </td>
            <td>{{ item.inv_status_text }}</td>
            <td>{{ item.media_type_text }}</td>
            <td>
                <a class="layui-btn layui-btn-mini" :class="{'edit-btn': (item.money_status != 1 || item.media_type == 1), 'gray-btn':!(item.money_status != 1 || item.media_type == 1)}" v-bind:data-url="'/income/form?id=' + item.id" data-title="编辑收入报表" ><i class="iconfont icon-edit layui-icon" ></i> 编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-mini" v-bind:data-url="'/apis/income/del?id=' + item.id " 
                :class="{'del-btn': item.money_status != 1, 'gray-btn':item.money_status==1}"><i class="layui-icon"></i> 删除</a>
            </td>
        </tr>
        <tr>
            <td colspan="4">&nbsp;</td>
            <td colspan="6" align="left">合计金额: {{ other.totalMoney }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}

