{% extends 'layout_form.html' %}

<!-- title -->
{% block title %}确认回款{% endblock %}

<!-- form -->
{% block form %}
<form class="layui-form layui-form-pane" id="form">

    <div class="layui-form-item">
        <label class="layui-form-label">选择时间</label>
        <div class="layui-input-6">
            <input class="layui-input" id="finished_time" v-model="info.finished_time"  name="finished_time"  lay-verify="required" placeholder="请输入回款日期"  type="text">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">确定是否开票</label>
        <div class="layui-input-6">
            <input type="radio" v-model="info.finished" name="finished" value="0" title="确定不开票" lay-filter="radio" checked>
            <input type="radio" v-model="info.finished" name="finished" value="1" title="确定开票" lay-filter="radio">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="id" v-model="info.id">
            <button class="layui-btn" lay-submit="" lay-filter="submitForm">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
{% endblock %}

<!-- footer -->
{% block footer%}
<script type="text/javascript">

// 初始化时数据加载
{#function hook_init(vueObj) {#}
{##}
{#    let id = getQueryStr('id') || 0;#}
{#    $.get('/apis/income/formInit?id=' + id, function(data) {#}
{##}
{#        app.other = data;#}
{#        if( id == 0 ) {#}
{#            app.info.media_type = 0;#}
{#            app.info.status = 0;#}
{#            app.info.income_id = data.income_id#}
{#        }#}
{#    });#}


// 初始化UI
function hook_init_ui(form, layer) {
    layui.laydate.render({
        elem: '#finished_time',
        type: 'date',
        max: 0,
        done: function (value, date, endDate) {
            app.info[this.elem[0].name] = value;
        }
    });
}
</script>
{% endblock %}