{% extends 'layout_form.html' %}

<!-- title -->
{% block title %}新增发票{% endblock %}

<!-- form -->
{% block form %}
<form class="layui-form layui-form-pane" id="form">
    <div class="layui-form-item">
        <label class="layui-form-label">收入ID</label>
        <div class="layui-input-6">
            <input type="hidden" name="income_id" v-model="info.income_id">
            <select lay-verify="required" lay-filter="select" id="income_id">
                <option value=""></option>
                <option v-for="item in other.incomeIdList" :value="item.id">{{item.income_id}}</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" >公司名称</label>
        <div class="layui-input-6">
            <input class="layui-input" v-model="info.company_name" lay-verify="required" readonly type="text">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">开票金额</label>
        <div class="layui-input-6">
            <input class="layui-input" v-model="info.money" lay-verify="required" type="number" readonly>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">开票信息</label>
        <div class="layui-input-6">
            <textarea placeholder="请输入内容摘要" readonly v-model="info.invoice" class="layui-textarea" lay-verify="required"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="id" v-model="info.id">
            <button class="layui-btn" lay-submit="" lay-filter="submitForm">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
{% endblock %}

<!-- footer -->
{% block footer%}
<script type="text/javascript">

// 初始化时数据加载
function hook_init(vueObj) {

    let id = getQueryStr('id') || 0;
    $.get('/apis/invoice/formInit?id=' + id, function(data) {
        
        vueObj.other = data;
    });
}

// 初始化UI
function hook_init_ui(form, layer) {

    layui.use(['formSelects'], function(){
        var form = layui.form,
            formSelects = layui.formSelects;
        
        formSelects.selects({
            filter: "select",
            name: 'income_id',
            el: '#income_id',
            change: function(data, arr){

                var selectVal = '';
                if (arr.length == 0){

                    return;
                }
                arr.forEach((item,index) => {
                    selectVal += item.val + ',';
                });
                selectVal = selectVal.slice(0, -1);
                app.$set(app.info, 'income_id', selectVal);
                
                getIncomeDetail(arr[0].val);
                
                if (arr.length > 1) {

                    var url = "/apis/income/getSumMoney?ids=" + selectVal
                    $.get(url, function(res){
                        if (!res.status) {
                            layer.msg(res.msg);
                            return;
                        }

                        app.$set(app.info, 'money', res.inv_money)
                    });
                }

            }
        });

    });
    
}
</script>
{% endblock %}