{% extends 'layout_form.html' %}

<!-- title -->
{% block title %}请确认{% endblock %}

<!-- form -->
{% block form %}
{#<form class="layui-form layui-form-pane" id="form">#}
{#    <div class="layui-form-item">#}
{#        <div class="layui-input-block">#}
{#            <input type="hidden" name="id" v-model="info.id">#}
{#            <button class="layui-btn" lay-submit="" lay-filter="submitForm">确定</button>#}
{#            <button type="reset" class="layui-btn layui-btn-primary">不确定</button>#}
{#        </div>#}
{#    </div>#}
{#</form>#}

{% endblock %}
