{% extends 'layout_table.html' %}

<!-- title -->
{% block title %} 客户管理 {% endblock %}

<!-- menu start -->
{% block menubox %}

<div class="layui-inline">
    <a class="layui-btn layui-btn-normal add-btn" data-url="/manager/form" data-area="600px,500px" data-title="新增用户">新增</a>
</div>
{% endblock %}


<!-- table start -->
{% block table %}
<table class="layui-table">
    <colgroup>
        <col>
        <col width="20%">
        <col width="9%">
        <col width="11%">
        <col width="30%">
        <col width="15%">
    </colgroup>
    <thead>
        <tr>
            <th style="text-align:left;">用户</th>
            <th>邮箱</th>
            <th>手机</th>
            <th>角色</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="item in list">
            <td align="left">{{ item.name }}</td>
            <td>{{ item.email}}</td>
            <td>{{ item.phone }}</td>
            <td>{{ item.role }}</td>
            <td>{{ item.created_at }}</td>
            <td>
                <a class="layui-btn layui-btn-mini edit-btn" data-area="600px,500px"  v-bind:data-url="'/manager/edit?id=' + item.id" data-title="编辑用户"><i class="iconfont icon-edit"></i> 编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-mini del-btn" v-bind:data-url="'/apis/manager/del?id=' + item.id "><i class="layui-icon"></i> 删除</a>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
