{% extends 'layout_table.html' %}


<!-- title -->
{% block title %} 详细信息 {% endblock %}

<!-- menu start -->
{% block menubox %}

{% endblock %}

{% block header %}
    <style>
        .layui-elem-quote.menubox {display: none}
    </style>
{% endblock %}

<!-- table start -->
{% block table %}
<table class="layui-table" id="app">
    <colgroup>
        <col width="15%">
        <col width="15%">
        <col width="15%">
        <col width="15%">
    </colgroup>
    <thead>
        <tr>
            <th style="text-align:left;">开票信息</th>

        </tr>
    </thead>
    <tbody>
{#        <tr v-for="item in list"  style="color:red">      #}
         <tr>
                 <td align="left" v-html="list.invoice"></td>
        </tr>
    </tbody>
</table>
{% endblock %}
<!-- footer -->
{% block footer %}
{% endblock %}