{% extends 'layout_form.html' %}

<!-- title -->
{% block title %}新增结算单{% endblock %}

<!-- form -->
{% block form %}
<form class="layui-form layui-form-pane" id="form">
    <div class="layui-form-item">
        <label class="layui-form-label">收入ID</label>
        <div class="layui-input-6">
            <select name="income_id" v-model="info.income_id" lay-verify="required" lay-filter="select" lay-search>
                <option value=""></option>
                <option v-for="item in other.incomeIdList" :value="item.id">{{item.income_id}}</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">公司名称</label>
        <div class="layui-input-6">
            <select name="client_id" v-model="info.client_id" lay-verify="required" lay-filter="select" lay-search>
                <option value=""></option>
                <option v-for="item in other.clientList" :value="item.id">{{item.name}}</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">归属时间</label>
        <div class="layui-input-6">
            <input class="layui-input"  v-model="info.aff_date"   lay-verify="required" readonly type="text">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">收入金额</label>
        <div class="layui-input-6">
            <input class="layui-input" v-model="info.money" readonly lay-verify="required" type="number" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">渠道成本</label>
        <div class="layui-input-6">
            <input class="layui-input" v-model="info.cost" readonly lay-verify="required" type="number">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">结算金额</label>
        <div class="layui-input-6">
            <input class="layui-input" v-model="info.balance" :max="info.money" lay-verify="required" type="number" name="balance" id="balance">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">结算比例</label>
        <div class="layui-input-6">
            <input class="layui-input" v-model="info.rate" lay-verify="required" type="text" readonly>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">结算类型</label>
        <div class="layui-input-6">
            <input type="radio" v-model="info.stype" lay-filter="radio" name="stype" :value="index" :title="stype" v-for="stype, index in other.stypeMap">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">收款信息</label>
        <div class="layui-input-6">
            <textarea placeholder="请输入内容摘要" readonly v-model="info.invoice" class="layui-textarea" lay-verify="required"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">回款状态</label>
        <div class="layui-input-6">
            <input class="layui-input" v-model="info.money_status_text" lay-verify="required" type="text" readonly>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">发票状态</label>
        <div class="layui-input-6">
            <input class="layui-input" v-model="info.inv_status_text" lay-verify="required" type="text" readonly>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="id" v-model="info.id">
            <button class="layui-btn" lay-submit="" lay-filter="submitForm">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
{% endblock %}

<!-- footer -->
{% block footer%}
<script type="text/javascript">

// 初始化时数据加载
function hook_init(vueObj) {

    let id = getQueryStr('id') || 0;
    $.get('/apis/settlement/formInit?id=' + id, function(data) {
        
        vueObj.other = data;

        if(id == 0){
            app.info.stype = 0;
        }
    });
}

// 初始化UI
function hook_init_ui(form, layer) {

    form.on('select(select)', function(data){

        app.info[data.elem.name] = data.value;
        
        var url = '/apis/income/detail',
            module = 'income';
        if (data.elem.name == 'client_id') {
            url = '/apis/client/info';
            module = 'client';
        }

        url += '?id=' + data.value;
        var fields = {
            'income': ['aff_date', 'money', 'money_status_text','inv_status_text','cost'],
            'client': ['invoice']
        };
        $.get(url, function (res) {
            for (let key in res.info) {
                if (fields[module].in_array(key)) {
                    app.$set(app.info, key, res.info[key])
                }
            }
        });
    });

    $('#balance').blur(function(){

        var val = parseInt(this.value);
        if (val > app.info.cost) {
            layer.msg('结算金额不能大于渠道成本，请重新输入');
            
            app.info.balance = 0;
            app.info.rate = 0;
            return;
        }
        var val = (val / app.info.cost * 100).toFixed(2)
        app.$set(app.info, 'rate', val + '%');
    });
}
</script>
{% endblock %}